.list_card .table > :not(caption) > * > * {
    color: white;
}
.list_card .table tbody > :not(caption) > * > * {
    color: #334155;
}
.edit_class_submanu_active {
    position: relative;
}
.edit_class_submanu_active:hover .edit_class_submanu {
    display: block;
}
.edit_class_submanu {
    display: none;
}
.edit_class_submanu ul {
    text-align: left;
    width: 190px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 18px #cecece;
    /* gap: 10px; */
    position: absolute;
    top: 0px;
    right: 18px;
    z-index: 1;
}
.edit_class_submanu ul li {
    color: #334155;
    /* padding: 8px 0px; */
    font-size: 16px;
}
.edit_class_submanu ul li:hover {
    background-color: #4d71a35e;
    padding-left: 10px;
    transition-duration: 0.4s;
}
.edit_class_submanu ul li a {
    padding: 8px 0px;
    width: 100%;
}

.page-content h2 {
    font-size: 20px;
    padding-bottom: 18px;
    text-transform: capitalize;
}
.list_card .card-header .search {
    border: 1px solid #4d71a35e;
    border-radius: 4px;
}
.search input {
    font-size: 14px;
    min-width: 300px;
}

.tag-list_and_task-list_area {
}
.tag-list_and_task-list_area .tag_list {
    border-bottom: 2px solid #d0c4c4;
}
.tag-list_and_task-list_area .tag_list ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.tag-list_and_task-list_area .tag_list ul li {
}
.tag-list_and_task-list_area .tag_list ul li a {
    border: 1px solid #d0c4c4;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #334155;
    text-transform: capitalize;
    transition-duration: .4s;
}
.tag-list_and_task-list_area .tag_list ul li a:hover {
background-color: turquoise;

}
.tag-list_and_task-list_area .task-list {
    margin-top: 30px;
    gap: 20px;
    display: grid;
}
.tag-list_and_task-list_area .task-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tag-list_and_task-list_area .task-list ul .input_and_label {
    display: flex;
    align-items: baseline;
}
.tag-list_and_task-list_area .task-list > ul > li:nth-child(1) {
    flex: 1;
}
.tag-list_and_task-list_area .task-list > ul > li:nth-child(2) {
    width: 150px;
}
.tag-list_and_task-list_area .task-list > ul > li:nth-child(3) {
    width: 350px;
}

.tag-list_and_task-list_area .task-list ul li input {
    margin-right: 10px;
}
.tag-list_and_task-list_area .task-list ul li label {
}
.tag-list_and_task-list_area .task-list ul li span {
}
.tag-list_and_task-list_area .task-list ul li ul {
    gap: 10px;
    
}

.tag-list_and_task-list_area .task-list ul li ul li {
}
.tag-list_and_task-list_area .task-list ul li ul li a {
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #334155;
    text-transform: capitalize;
    background-color: tomato;
}

.tag-list_and_task-list_area .task-list ul li img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
    background-color: white;
    border: 1px solid #9e9e9e;
    margin-left: 30px;
}

.page-content{
    padding-top: 50px;
}