.edit_cursor_n_resize {
    color: white;
}
.edit_class_submanu_active{
    position: relative;
}
.edit_class_submanu_active:hover .edit_class_submanu{
    display: block;
}
.edit_class_submanu {
    display: none;
}
.edit_class_submanu ul {
text-align:left ;
width: 190px;
padding: 15px;
background-color: white;
box-shadow: 0px 0px 18px #cecece;
/* gap: 10px; */
position: absolute;
top: 0px;
right: 18px;
z-index: 1;
}
.edit_class_submanu ul li {
    color: #334155;
    padding: 8px 0px;
    font-size: 16px;
}
.edit_class_submanu ul li:hover {
    background-color: #4d71a35e;
    padding-left: 10px;
    transition-duration: .4s;
}
